body{
    background-color: rgb(202, 173, 138);
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.color{
    background-color: rgb(243, 53, 53);
    font-style: italic;
    color: azure;
    font-weight: 500;
    margin: 30px;
    padding: 40px;
    border-radius: 20px;
    border: 10px solid #fff;
}
